* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding-bottom: 200px;
    margin: 0;
    padding: 20px;
}
/* ::before, ::after{
    content: ''
} */

form {
    border: 1px solid black;
    padding: 1rem;
    max-width: 400px;
    margin-inline: auto;
}

.form-group {
    margin-bottom: 20px;
}

label:not(:has([type="radio"], [type="checkbox"])) {
    display: block;
    font-size: .8em;
    margin-bottom: 5px;
}

input:not([type="radio"], [type="checkbox"], [type="submit"]),
select,
textarea {
    width: 100%;
    padding: .5em 1em;
    font-size: 1rem;
    box-shadow: none;
    border: 1px solid #e0e0e0;
}

input:not([type="submit"]):focus,
select:focus,
textarea:focus {
    outline-color: green;
}

select {
    appearance: none;
    background-image: url('./../images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right;
}

input:where([type="radio"]){
    display: none;
}

label:has([type="radio"]) span{
    display: inline-block;
    width: .7rem;
    height: .7rem;
    margin-right: .5rem;
    border-radius: 50%;
    position: relative;
}
label:has([type="radio"]:checked) span{
    background-color: red;
}
label:has([type="radio"]) span::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 1rem;
    height: 1rem;
    border: 1px solid red;
    border-radius: 50%;
}
label:has([type="radio"]) + label:has([type="radio"]){
    margin-left: 1rem;
}

label[for="switch"] input{
    display: none;
}
label[for="switch"] span{
    display: inline-block;
    width: 4rem;
    height: 1.8rem;
    border: 1px solid red;
    border-radius: 1.8rem;
    position: relative;
    transition: .4s all;
}
label[for="switch"] span::after{
    content: '';
    position: absolute;    
    left: .3rem;
    top: .3rem;
    height: calc(100% - .6rem);
    aspect-ratio: 1/1;
    background: red;
    border-radius: 50%;
    transition: .8s all;
}
label[for="switch"]:has(input:checked) span{
    border-color: green;
    background: green;
}
label[for="switch"]:has(input:checked) span::after{
    background: white;
    left: auto;
    right: 0.3rem;
}

input:required{
    border-color: blue;
}
input:invalid{
    border-color: red;
}
input:valid, textarea:valid{
    border-color: green;
}